{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid mt-5">

    <div class="row">

        <div class="col-lg-6 col-md-10 bg-white m-auto mb-5">

            <div class="text-center">

                <h2> <strong> <u>Love Stories</u></strong></h2>
                <small><strong>Share your love story through our blog! </strong></small>

            </div>

            <br><br>

            <form method="POST" autocomplete="off" class="m-auto">
                {% csrf_token %}

                {{ form|crispy}}

                <br>

                <button type="submit" class="btn">
                </span> &nbsp; 	Post blog </button>

                <br><br>

            </form>

            <div class="text-center">
                <p>View other people stories and experiences &nbsp;<a href="{% url 'blog_list' %}">	View</a></p>

            </div>

        </div>
    </div>

</div>

{% endblock %}