{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid mt-5">

    <div class="row">

        <div class="col-lg-6 col-md-10 bg-white m-auto mb-5">

            <div class="text-center">

                <h2> <strong> <u>Love Stories</u></strong></h2>
                <small><strong>Feel free to share a love story through our blogs! </strong></small>

            </div>

            <br><br>

            <div>
                <div>
                    {% if "placeholder" in blog.featured_image.url %}
                    <img src="https://res.cloudinary.com/dxajyjfpw/image/upload/v1708199980/pexels-monstera-production-5874742_qxkzt9.jpg"
                        alt="" class="img-fluid">
                    {% else %}
                    <a href="{{blog.featured_image.url}}" target="_blank"><img src="{{blog.featured_image.url}}"
                            target="_blank" alt="" class="img-fluid"></a>
                    {% endif %}
                    <div class="post-meta"><span class="date"></span> <span class="mx-1">&bullet;</span>
                        <span>{{blog.created_on}}</span>
                    </div>
                    <h2 class="mb-2"><a href="{% url 'blog_details' blog_id=blog.id  %}">{{blog.title}}</a></h2>
                    <span class="author mb-3 d-block">{{blog.author}}</span>
                    <p class="mb-4 d-block"> {{blog.content}}</p>
                    {% if user.is_authenticated %}
                    <form class="d-inline" action="{% url 'blog_like' blog_id=blog.id %}" method="POST">
                        {% csrf_token %}
                        {% if liked %}
                        <button type="submit" name="blogpost_id" value="{{blog.id}}" class="btn-like">
                            <i class="fa-solid fa-heart"></i></button>
                        {% else %}
                        <button type="submit" name="blogpost_id" value="{{blog.id}}" class="btn-like">
                            <i class="fa-solid fa-heart"></i>
                        </button>
                        {% endif %}
                    </form>
                    {% else %}
                    <span class="text-secondary"><i class="fa-solid fa-heart"></i></span>
                    {% endif %}
                    <span class="text-secondary">{{ blog.number_of_likes }}</span>
                    <span>
                        <strong class="text-secondary"><i class="fa-regular fa-comment"></i>
                            {{ blog.comments.count }}</strong>
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-12 m-auto">
                    <h3>Comments:</h3>
                    <div>
                        {% if blog.comments_set_all %}
                        {% for comment in blog.comments_set.all %}
                        <div class="comments">
                            <div class="comment">
                                {{ comment.body | linebreaksbr }}
                            </div>
                            <div>
                                <p class="post-icon mt-1 text-muted">{{ comment.name }} on
                                    <span>{{ comment.created_on }}</span>
                                </p>
                            </div>
                            <div>
                                {% if comment.name == request.user.username %}
                                    <div class="col-sm mt-1">
                                        <a class="btn btn-sm btn-edit"
                                            href="{% url 'edit_comment' blog_id=blog.id comment.pk %}">Edit</a>
                                        <a class="btn btn-sm btn-delete"
                                            href="{% url 'delete_comment' blog_id=blog.id comment.pk %}">Delete</a>
                                    </div>
                                {% endif %}
                                </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <p>No comments yet.</p>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="row">
                {% if not user.is_authenticated %}
                        <p>
                            To post a comment, <strong><a class="link" href="{% url 'account_login' %}">log in</a></strong> to our site!<br> 
                            If you do not have an account, please <strong><a class="link" href="{% url 'account_signup' %}">sign up</a></strong> here.
                        </p>
                {% endif %}
                <div class="col-lg-6 col-md-12 m-auto">
                    {% if user.is_authenticated %}
                    <h3>Add a Comment:</h3>
                    <p class="comment">Posting as: {{ user.username }}</p>
                    <form method="POST">
                      {% csrf_token %}
                      {{ comment_form | crispy }}
                      <div class="float-right">
                        <button class="btn btn-sm bg-dark text-white rounded-1" type="submit">Add Comment</button>
                    </div>
                </form>
            </div>
            {% endif %}
                </div>
            </div>

            <div class="text-center">
                <a href="{% url 'blog_list' %}" class="btn btn-lg bg-primary text-white"> View other stories</a>

            </div>

        </div>
    </div>

</div>

{% endblock %}