{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">


    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">

    <!-- Template Main CSS Files -->
    <link href="{% static 'css/variables.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/95bc93f676.js" crossorigin="anonymous"></script>

    <title>Cupid Devils</title>


</head>


<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <a href="{% url 'home' %}" class="logo d-flex align-items-center">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <!-- <img src="assets/img/logo.png" alt=""> -->
                <h1>The L<i class="fa-regular fa-heart fa-sm"></i>vers Blog</h1>
            </a>
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                            <li class="nav-item">
                                <a href="{% url 'blog_list' %}">Love Stories</a></li>
                                <li class="nav-item">
                                    <a href="{% url 'post_blog' %}">Add Love Story</a></li>
                                <li class="nav-item">
                                    <a href="about.html">About Us</a></li>
                            {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                            </li>
                            {% endif %}
        
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- .navbar -->

        </div>

    </header>
    <!-- End Header -->
    {% for message in messages %}

        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}

            <p class="text-center text-white alert" style="background-color: palevioletred;" id="message-timer">
                <i class="fa fa-check" aria-hidden="true"></i> &nbsp;{{ message }}
            </p>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}

            <p class="text-center text-white alert alert-danger" id="message-timer">
                <i class="fa fa-check" aria-hidden="true"></i> &nbsp;{{ message }}
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}

            <p class="text-center text-white alert alert-info" id="message-timer">
                <i class="fa fa-check" aria-hidden="true"></i> &nbsp;{{ message }}
            </p>
            
        {% endif %}

    {% endfor %}

    {% block content %}

    {% endblock %}


    <!-- ======= Footer ======= -->
    <!-- ======= Footer ======= -->
    <footer class="bg-body-tertiary text-center text-lg-start">
        <!-- Grid container -->
        <div class="container p-4">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase">About The Lovers Blog</h5>

                    <p>
                        Welcome to The Lovers Blog, where we celebrate the beauty of love and companionship. Dive
                        into heartwarming stories, insightful advice, and inspiring tales of romance that warm the
                        soul. Join our community in spreading love and fostering meaningful connections.
                    </p>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Follow Us On Social Media</h5>
                    <div class="social-links mb-3 mb-lg-0 text-center text-md-end">
                        <a href="#" class="twitter"><i class="bi bi-twitter fa-2x p-1 mb-2"></i></a>
                        <a href="#" class="facebook"><i class="bi bi-facebook p-1 fa-2x mb-2"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram p-1 fa-2x mb-2"></i></a>
                        <a href="#" class="google-plus"><i class="bi bi-skype p-1 fa-2x mb-2"></i></a>
                        <a href="#" class="linkedin"><i class="bi bi-linkedin p-1 fa-2x mb-2"></i></a>
                        <a href="https://github.com/phillywhitty/cupid_devils" target="_blank" class="m"><span class="bi-github"></span></a>
                    </div>

                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.07);">
            © 2024 Copyright:
            <a class="text-body" href="https://mdbootstrap.com/">CI HackTeam</a>
        </div>
        <!-- Copyright -->
    </footer>

    <!-- Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<!-- Bootstrap Bundle (includes Popper.js) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>